#container

#legend{:style => "float: right;"}
  #controls
    %button#rewind
      Rewind
    %button#back
      Back
    %button#pause{:style => "display:none;"}
      Pause
    %button#play{:disabled => true}
      Play
    %button#next
      Next
    %button#end
      End
  %ul#player-list

:javascript
  new TS.AIPlayback('container', 'controls', '/maps/1.map', '/javascripts/game_description.js');