!!! 5

%html
  %head
    %title AI!

    %script{:type=>"text/javascript", :src=>"https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/raphael-min.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/thirdside.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/simulator.js"}

    %link{:href=>"/stylesheets/application.css", :media=>"screen, projection", :rel=>"stylesheet"}

  %body

    = yield