* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 11px;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #343434;
    background-image: url(/images/background.jpg);
    background-repeat: repeat-x;
    color: #333333;
}

a {
    text-decoration: none;
    color: #f78d1d;
}

a:hover {
    text-decoration: underline;
}

div#wrapper {
    width: 1024px;
    margin: 0 auto 0 auto;
    position: relative;
    clear: both;
}

div#main {
    padding: 20px 20px 10px 20px;
    background-image: url(/images/transparent.png);
    border-radius: 15px;
}

div#header {
    padding: 20px 0 10px 0;
    position: relative;
}

div#header h1 {
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 10px #000;
    font-size: 60px;
    letter-spacing: -3px;
    font-weight: bold;
    background-image: url(/images/tank.png);
    background-repeat: no-repeat;
    background-position: 184px 16px;
}

div#user-info {
    position: absolute;
    right: 0;
    height: 46px;
    top: 20px;
    background-image: url(/images/transparent.png);
    border-radius: 10px;
    padding: 15px;
}

div#user-info ul {
    list-style: none;
}

div#user-info > ul > li {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    width: 60px;
}

div#user-info > ul > li.data {
    width: auto;
    text-align: left;
    line-height: 14px;
}

div#user-info > ul > li div.info {
    font-size: 25px;
}

div#footer {
    color: #cccccc;
    padding: 20px 0;
}

div.content {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

div#content h2 {
    color: #343434;
    padding: 0 0 20px;
}

ul#menu {
    list-style: none;
}

ul#menu li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    padding: 0 0 15px;
}

ul#menu > li > a {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    padding: 2px 10px;
    outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

ul#menu > li:hover > a, ul#menu > li.active > a {
    background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

ul#menu li ul {
    display: none;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #2E2E2E;
    position: absolute;
    width: 185px;
    top: 30px;
}

ul#menu li ul li {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
}

ul#menu li ul li a {
    display: block;
    padding: 5px;
    color: #4E4E4E;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
    text-align: left;
    text-decoration: none;
}

ul#menu li:hover ul {
    display: block;
}

ul#menu li ul li a:hover {
    background-color: #dddddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #4F6B72;
}

table thead th {
    border-top: 1px solid #C1DAD7;
    background-color: #dddddd;
    font-weight: bold;
}

table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #eeeeee;
}

table tbody tr:hover td {
    background-color: #b0bcff;
}

table th, table td {
    border-bottom: 1px solid #C1DAD7;
    padding: 4px 6px;
}

table th.icon, table td.icon {
    width: 16px;
}

#container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#controls {
    float: right;
}

#player-list li {
	  list-style: none;
	  clear: both;
}

#player-list span, #player-list div {
	  float: left;
}

.color-box {
	  width: 20px;
	  height: 20px;
}
