body {
    font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #edeeef;
    color: #333333;
}

div#wrapper {
    width: 1024px;
    background: #ffffff;
    margin: 0 auto 0 auto;
    padding: 20px;
}

ul.menu {
    list-style: none;
    width: auto;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 8px 0 4px 0;
}

ul.menu li {
    display: inline;
    margin-left: 20px;
}

ul.menu li a {
    color: #454545;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: -1px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #4F6B72;
}

table thead th {
    border-top: 1px solid #C1DAD7;
    background-color: #dddddd;
    font-weight: bold;
}

table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #eeeeee;
}

table tbody tr:hover td {
    background-color: #b0bcff;
}

table th, table td {
    border-bottom: 1px solid #C1DAD7;
    padding: 4px 6px;
}

table th.icon, table td.icon {
    width: 16px;
}

#container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#controls {
    float: right;
}

#player-list li {
	  list-style: none;
	  clear: both;
}

#player-list span, #player-list div {
	  float: left;
}

.color-box {
	  width: 20px;
	  height: 20px;
}
