- if user_signed_in?
  - content_for :info do
    %h2= t('titles.my_artificial_intelligences')

    = render :partial=>'list', :locales=>{:collection=>current_user.artificial_intelligences}

%h2= t('titles.all_artificial_intelligences')

= render :partial=>'list', :locales=>{:collection=>@artificial_intelligences}
