.content
  - if user_signed_in?
    .buttons
      = link_to t('artificial_intelligences.new'), new_artificial_intelligence_path, :class => :button

  %h2= t('titles.all_artificial_intelligences')

  = render :partial => '/artificial_intelligences/list', :locals => {:collection => @artificial_intelligences.includes(:user)}

  = paginate @artificial_intelligences