

%table
  %thead
    %tr
      %th Map
      %th Number of players
      %th Score
      %th.icon

  %tbody
    - @artificial_intelligence.artificial_intelligence_games.each do |artificial_intelligence_game|
      %tr
        %td= artificial_intelligence_game.game.map.name
        %td= artificial_intelligence_game.game.number_of_players
        %td= artificial_intelligence_game.score.percentage_of( 1 )
        %td.icon= link_to_show artificial_intelligence_game.game