#welcome.content
  %h2= t("titles.welcome")
  .intro
    %h3= t "intro.what_is_berlin"
    %p
      = raw t("intro.intro_text")
    %ul.padded
      - t("intro.breakdown").each do |key, explain|
        %li= explain
  .map-container
    #map{:style => "background-color: #ff00ff"}
      %img{:src => "/images/screenshots/game-1.jpg"}
  %div{:style => "clear:both;"}
    