.content
  %h2= t("titles.welcome")
  %h3 What is Berlin?
  %p
    Well here you are, wondering what you are doing here. Let me tell you, it's quite simple. Berlin is an electronic turn-based multiplayer artificial intelligence strategy board game. 
    %strong
      Wait. What?!
    Let's break it down:
    %ul
      %li Electronic: Played by your computer
      %li Turn-based: Turn by turn, in opposition to real-time
      %li Multiplayer: Many players competing against one-another
      %li Artificial Intelligence: Your computer makes pseudo-intelligent moves
      %li Strategy: Decisions have significant outcome
      %li Board: A type of game where pieces are moved on a board
      %li Game: Let's not go there
  