%h2 Listing games

%table
  %thead
    %tr
      %th #
      %th Map
      %th Players
      %th.icon

  %tbody
    - @games.each do |game|
      %tr
        %td= game.id
        %td= game.map.id
        %td= game.number_of_players
        %td= link_to_show game
