%h1= @game.map.name

#map{:style=>"width: 1024px; height: 800px; position: relative;"}

#progress_bar_container
  #progress_bar

#controls
  %input#rewind{:type=>:submit, :value=>"<<"}
  %input#back{:type=>:submit, :value=>"<"}
  %input#play{:type=>:submit, :value=>"play"}
  %input#pause{:type=>:submit, :value=>"pause"}
  %input#next{:type=>:submit, :value=>">"}
  %input#end{:type=>:submit, :value=>">>"}

#player-list

:javascript
  new TS.AIPlayback({"map": "map", "controls": "controls", player_list: "player-list", "progress_bar": "progress_bar"}, "#{map_path(@game.map, :format=>:json)}", "#{game_path(@game, :format=>:json)}");