- content_for :top do
  .content
    %h2= @game.map.name

    %ul#player-list

  #progress_bar_container
    #progress_bar

#map{:style=>"width: 965px; height: 500px; position: relative;"}

#controls
  %input#rewind{:type=>:submit, :value=>"<<"}
  %input#back{:type=>:submit, :value=>"<"}
  %input#play{:type=>:submit, :value=>"play"}
  %input#pause{:type=>:submit, :value=>"pause"}
  %input#next{:type=>:submit, :value=>">"}
  %input#end{:type=>:submit, :value=>">>"}

:javascript
  document.observe("dom:loaded", function() {
    new TS.AIPlayback(
      {
        "map": "map",
        "controls": "controls",
        "player_list": "player-list",
        "progress_bar": "progress_bar"
      },
      "#{map_path(@game.map, :format=>:json)}",
      "#{game_path(@game, :format=>:json)}"
    );
  });