.content
  = render :partial => '/layouts/menu', :locals => {:paths => ['doc', 'tutorial', 'json_request', 'json_response']}

  %h2= t('titles.json_request')

  %p
    Vous trouvez ici un exemple des requêtes que vous enverra Berlin. Vous y trouverez toute l'information requise
    pour procéder à l'analyse de la carte vous permettant de déterminer les meilleurs mouvements à faire. Toutes les
    requêtes que vous enverra Berlin sont de type POST et les paramètres sont envoyés individuellement, de telle sorte
    qu'ils sont accessiblent, par exemple en PHP, avec <i>$_POST['infos']</i>, ou encore avec Ruby on Rails, avec <i>params['infos']</i>.

  %pre.code
    :preserve
      "action": "game_start" | "turn" | "game_over" | "ping",

      "infos": {
        "game_id": "7c7905c6-2423-4a91-b5e7-44ff10cddd5d",
        "current_turn": null,
        "maximum_number_of_turns": 10,
        "number_of_players": 2,
        "time_limit_per_turn": 5000,
        "directed": false,
        "player_id": 5
      },

      "map": {
        "types": [
          {"name": "node", "points": 0, "number_of_soldiers": 0},
          {"name": "city", "points": 1, "number_of_soldiers": 1}
        ],

        "nodes": [
          {"id": 1, "type": "city"},
          {"id": 2, "type": "node"},
          {"id": 3, "type": "node"},
          {"id": 4, "type": "city"}
        ],

        "paths": [
          {"from": 1, "to": 2},
          {"from": 2, "to": 3},
          {"from": 3, "to": 4},
          {"from": 1, "to": 3},
          {"from": 1, "to": 4},
          {"from": 2, "to": 4}
        ]
      },

      "state": [
        {"node_id": 1, "player_id": 0, "number_of_soldiers": 24},
        {"node_id": 2, "player_id": null, "number_of_soldiers": 0},
        {"node_id": 3, "player_id": null, "number_of_soldiers": 0},
        {"node_id": 4, "player_id": 1, "number_of_soldiers": 24}
      ]
