.right
  = link_to t('titles.doc'), doc_path, :class=>:button
  = link_to t('titles.tutorial'), tutorial_path, :class=>:button
  = link_to t('titles.request'), json_request_path, :class=>:button
  = link_to t('titles.response'), json_response_path, :class=>:button
